services:
  mongodb:
    image: mongo:6.0.13
    ports:
      - 27017:27017
    volumes:
      - mongodb-data:/data
    restart: unless-stopped

  api:
    build:
      dockerfile: Dockerfile
    depends_on:
      mongodb:
        condition: service_started
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Mongo__DatabaseUri: mongodb://mongodb:27017/
      PORT: 8080
    ports:
      - 8080:8080

volumes:
  mongodb-data:
