name: Publish Hot Fix

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: "094954420758"

jobs:
  build:
    if: github.run_number != 1
    name: CDP-build-hotfix-workflow
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Depth 0 required for branch-based versioning
      - name: Test
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.0
      - name: Run unit tests
        run: |
          dotnet test --filter "Category!=IntegrationTests"
      - name: Run integration tests
        run: |
          docker compose up -d
          dotnet test --filter "Category=IntegrationTests"
      - name: Docker Compose Logs
        if: always()
        run: |
          docker compose logs
      - name: Publish Hot Fix
        uses: DEFRA/cdp-build-action/build-hotfix@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  sonarcloud-scan:
    name: CDP SonarCloud Scan
    uses: ./.github/workflows/sonarcloud.yml
    needs: build
    secrets: inherit
